<h1>Listing Images</h1>

<p>
  <%= link_to 'New Image', new_image_path %>
</p>

<p>
  ----------------------------------------------------------
</p>

<% @images.each do |image| %>
    <p>
      <%= image_tag(image.link, :width => 400, :crop=>'limit') %>
    </p>

    <p>
      <%= 'Tag: ' %>
    </p>

    <p class="tags">
      <% if image.tag_list.any? %>
          <% image.tag_list.each do |t| %>
              <span class="tag"><%= link_to t, tagged_path(tag: t) %></span>
          <% end %>
      <% else %>
          <span class="tag"><%= 'None' %></span>
      <% end %>
    </p>

    <p>
      ----------------------------------------------------------
    </p>
<% end %>



