<% if @tag.present? %>
  <h1><%= "Images with tag: #{@tag}" %></h1>
<% else %>
  <h1>Listing Images</h1>
<% end %>

<p>
  <% if @tag.present? %>
    <%= link_to 'Back', images_path %>
  <% end %>
</p>

<p>
  <%= link_to 'New Image', new_image_path %>
</p>

<p>
  ----------------------------------------------------------
</p>

<div id="image_list", class = "js-image-list">
  <% @images.each do |image| %>
    <div id="image_card", class = "js-image-card">
      <p>
        <%= image_tag(image.link, :width => 400, :crop=>'limit') %>
      </p>

      <p>
        <%= 'Tag: ' %>
      </p>

      <p class="js-tags">
        <% if image.tag_list.any? %>
          <% image.tag_list.each do |t| %>
            <span class="js-tag"><%= link_to t, images_path(tag: t) %></span>
          <% end %>
        <% else %>
          <span class="js-tag"><%= 'None' %></span>
        <% end %>
      </p>

      <table class="js-action-list">
        <tr>
          <td class="js-show"><%= link_to 'Show', image_path(image) %></td>
          <td class="js-destroy"><%= link_to 'Destroy', image_path(image),
                                             method: :delete,
                                             data: { confirm: 'Are you sure?' } %></td>
          <td class="js-edit"><%= link_to 'Edit', edit_image_path(image) %></td>
        </tr>
      </table>

      <p>
        ----------------------------------------------------------
      </p>
    </div>
  <% end %>
</div>





