<% if @tag.present? %>
  <h1><%= "Images with tag: #{@tag}" %></h1>
<% else %>
  <h1>Listing Images</h1>
<% end %>

<p>
  <% if @tag.present? %>
    <%= link_to 'Back', images_path %>
  <% end %>
</p>


<p>
  <%= link_to 'New Image', new_image_path %>
</p>

<p>
  ----------------------------------------------------------
</p>

<div id="image_list">
  <% @images.each do |image| %>
    <div id="image_card">
      <p>
        <%= image_tag(image.link, :width => 400, :crop=>'limit') %>
      </p>

      <p>
        <%= 'Tag: ' %>
      </p>

      <p class="js-tags">
        <% if image.tag_list.any? %>
          <% image.tag_list.each do |t| %>
            <span class="js-tag"><%= link_to t, images_path(tag: t) %></span>
          <% end %>
        <% else %>
          <span class="js-tag"><%= 'None' %></span>
        <% end %>
      </p>

      <tr>
        <td><%= link_to 'Show', image_path(image) %></td>
        <td><%= link_to 'Destroy', image_path(image),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>
      </tr>

      <p>
        ----------------------------------------------------------
      </p>
    </div>
  <% end %>
</div>





