<%= simple_form_for @image do |form| %>
  <p>
    <%= form.input :link, class: "js-link", as: :string %>
  </p>

  <p class="js-tag-list">
    <%= 'Use comma to separate tags' %><br>
    <%= form.label :tag_list %>
    <%=
      form.text_field :tag_list,
                      value: @image.tag_list.to_s,
                      placeholder: 'dog, happy',
                      class: "js-tags"
    %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', images_path %>
