<p>
  <strong>This is the image:</strong>
</p>

<p>
  <%= image_tag(@image.link) %>
</p>

<p>
  ----------------------------------------------------------
</p>

<p>
  <%= 'Tag:' %><br/>
</p>

<div class="js-tags">
    <% if @image.tag_list.any? %>
      <% @image.tag_list.each do |t| %>
          <span class="js-tag"><%= link_to t, images_path(tag: t) %></span>
      <% end %>
    <% else %>
      <span class="js-tag"><%= 'None' %></span>
    <% end %>
</div>

<p>
  ----------------------------------------------------------
</p>

<table class="js-action-list">
  <tr>
    <td class="js-back"><%= link_to 'Back', images_path %></td>
    <td class="js-destroy"><%= link_to 'Destroy', image_path(@image),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
    <td class="js-edit"><%= link_to 'Edit', edit_image_path(@image) %></td>
  </tr>
</table>
