<p>
  <strong>This is the image:</strong>
</p>

<p>
  <%= image_tag(@image.link) %>
</p>

<p>
  <%= 'Tag:' %><br/>
</p>

<div class="tags">
    <% if @image.tag_list.any? %>
      <% @image.tag_list.each do |tag| %>
          <span class="tag"><%= tag %></span>
      <% end %>
    <% else %>
      <span class="tag"><%= 'None' %></span>
    <% end %>
</div>

<%= link_to 'Back', images_path %>
