<p>
  <strong>This is the image:</strong>
</p>

<p>
  <%= image_tag(@image.link) %>
</p>

<p>
  ----------------------------------------------------------
</p>

<p>
  <%= 'Tag:' %><br/>
</p>


<div class="tags">
    <% if @image.tag_list.any? %>
      <% @image.tag_list.each do |t| %>
          <span class="tag"><%= link_to t, tagged_path(tag: t) %></span>
      <% end %>
    <% else %>
      <span class="tag"><%= 'None' %></span>
    <% end %>
</div>

<p>
  ----------------------------------------------------------
</p>

<%= link_to 'Back', images_path %>
