<% if @images %>
    <% if @images.any? %>
      <h1><%= "Images with tag: #{@tag}" %></h1>

      <% @images.each do |image| %>
        <p>
          <%= image_tag(image.link, :width => 400, :crop=>'limit') %>
        </p>
        <% end %>
    <% else %>
        <h1><%= "No image found with tag: #{@tag}" %></h1>
    <% end %>
<% else %>
    <h1><%= 'No tag provided' %></h1>
<% end %>

<%= link_to 'Back', images_path %>
